.App {
  padding: 40px;
}

h1 {
  width: 800px;
  text-align: center;
}

.game-container {
  display: flex;
  gap: 100px;
  margin-top: 40px;
}

button {
  background-color: rgb(233, 232, 232);
  padding: 10px 50px;
  font-size: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin: 20px;
}

h3 {
  font-size: 30px;
  margin-top: 10px;
}

p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-btn {
  font-size: 16px;
  padding: 8px 16px;
}

button:disabled {
  cursor: not-allowed;
}

.play-info h2 {
  text-align: center;
}

.play-info li span {
  display: inline-flex;
  background-color: black;
  color: white;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0;

}